body {
  padding: 8px;
  margin: 0;
}

.hidden {
  display: none;
}

.displayed {
  display: block;
}

.page {
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 2px;
  padding-right: 20px;
  white-space: nowrap;
}

.page.selected {
  color: white;
  background-color: rgb(89,100, 200);
}

.page:hover {
  color: white;
  background-color: rgb(89,100, 200);
  cursor: pointer;
}
